.history
dist-newstyle
secrets/*
logs/*
encoins-relay-test/test/configuration/wallets/*
encoins-relay-test/test/configuration/maestro.token
encoins-relay-test/test/configuration/blockfrost.token
*/poll*files/*
certificate.pem
key.pem

cabal.project.local
cabal.log

encoins-relay-server/*/*/addresses.json
encoins-relay-server/*/*/blockfrost.token
encoins-relay-server/*/*/maestro.token
encoins-relay-server/*/*/delegation.ip
encoins-relay-server/*/*/wallet.json
encoins-relay-server/*/*/logs/*