.history
dist-newstyle
secrets/*
logs/*
encoins-relay-test/test/configuration/wallets/*
encoins-relay-test/test/configuration/maestro.token
encoins-relay-test/test/configuration/blockfrost.token
*/poll*files/*
certificate.pem
key.pem

cabal.project.local
cabal.log

testnet-preprod/apps/cardano-node/node.sock
testnet-preprod/apps/encoins/blockfrost.token
testnet-preprod/apps/encoins/maestro.token
testnet-preprod/apps/encoins/pinata_jwt.token
testnet-preprod/apps/encoins/debts.json
testnet-preprod/apps/encoins/delegationMap.json
testnet-preprod/apps/encoins/secrets/*
testnet-preprod/apps/encoins/poll*files/*
testnet-preprod/apps/encoins/savedResponses/*
testnet-preprod/apps/encoins/delegations/*
testnet-preprod/apps/*/logs/*
testnet-preprod/apps/verifier/verifierPrvKey.json
testnet-preprod/data/
testnet-preprod/wallets/*
!testnet-preprod/wallets/test-wallet.json
!testnet-preprod/wallets/load_wallet.sh

mainnet/apps/cardano-node/node.sock
mainnet/apps/encoins/blockfrost.token
mainnet/apps/encoins/maestro.token
mainnet/apps/encoins/pinata_jwt.token
mainnet/apps/encoins/debts.json
mainnet/apps/encoins/delegationMap.json
mainnet/apps/encoins/secrets/*
mainnet/apps/encoins/poll*files/*
mainnet/apps/encoins/savedResponses/*
mainnet/apps/encoins/delegations/*
mainnet/apps/*/logs/*
mainnet/apps/verifier/verifierPrvKey.json
mainnet/data/
mainnet/wallets/*
!mainnet/wallets/wallet-example.json
!mainnet/wallets/load_wallet.sh