.history
dist-newstyle
secrets/*
logs/*
encoins-relay-test/test/configuration/wallets/*
encoins-relay-test/test/configuration/maestro.token
encoins-relay-test/test/configuration/blockfrost.token
*/poll*files/*
certificate.pem
key.pem

cabal.project.local
cabal.log

*/apps/encoins/*.token
*/apps/encoins/addresses.json
*/apps/encoins/logs/*
*/wallets/*
